@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qcsd50');
  src:  url('../fonts/icomoon.eot?qcsd50#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qcsd50') format('truetype'),
    url('../fonts/icomoon.woff?qcsd50') format('woff'),
    url('../fonts/icomoon.svg?qcsd50#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-belleza:before {
  content: "\e900";
}